<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://sayitobar.github.io/CopyShot/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>D1sSmGmgBgO/S1FFD6WsnJm8QoqJWIKeHY1ZrzNorEs=</string>
	<key>NSScreenCaptureUsageDescription</key>
	<string>CopyShot needs to capture your screen to extract text via OCR.</string>
</dict>
</plist>
